	</div><h1>Ifekaar syed</h1>

	<div class="container">
  	<div class="jumbotron ">
    <h1>IFTEKAAR SYED</h1>      
    <p>IFTEKAAR SYED test website </p>

   <p>nigga am awesome click <%= link_to "here", "http://www.engadget.com/"%></p>
    <div class="btn-group" role="group" aria-label="...">
    <%=link_to "login", "#",class: "btn-danger btn-sm"%>
    <%=link_to "sign up","#",class: "btn-primary btn-sm"%>
    </div>
	
  	<p>Pull up ur pants</p>      
  	<p>s is another text.</p>      
	

</div>